{{> admin-header}}

<style>
    /* Custom styles */
    .card {
        margin-top: 20px;
    }

    .img-fluid {
        max-height: 200px;
        object-fit: cover;
    }

    .input-group {
        max-width: 300px;
        margin-top: 10px;
    }

    .download-invoice-btn {
        margin-top: 10px;
    }
    .feedback-section {
        margin-top: 20px;
    }

    .feedback-section h5 {
        font-size: 1.25rem;
        font-weight: 600;
        color: #333;
        margin-bottom: 10px;
    }

    .feedback-message {
        background-color: #f7f7f7;
        border-left: 5px solid #28a745; /* Green accent color */
        padding: 15px;
        border-radius: 5px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .feedback-message p {
        margin: 0;
        font-size: 1rem;
        color: #555;
    }

    .feedback-message::before {
        content: '“';
        font-size: 2rem;
        color: #28a745;
        display: block;
        position: absolute;
        left: 10px;
        top: -10px;
    }

    .feedback-message::after {
        content: '”';
        font-size: 2rem;
        color: #28a745;
        display: block;
        position: absolute;
        right: 10px;
        bottom: -10px;
    }
</style>

<div class="content">
    <div class="container mt-5 mb-5">
        <div class="card">
            <div class="card-header">
                <h2>Order #{{order.orderId}}</h2>
                <p class="text-muted">Order Date: {{formatDate order.createdAt}}</p>
            </div>

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mt-3">
                    <li class="breadcrumb-item"><a href="/user/admin/dashboard">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="/order/all-orders">Orders</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Order Details #{{order.orderId}}</li>
                </ol>
            </nav>

            <div class="card-body">
                {{#each order.products}}
                <div class="row mb-3">
                    <div class="col-md-6">
                        <img src="{{this.product.images.[0]}}" class="img-fluid" alt="{{this.product.title}}">
                    </div>
                    <div class="col-md-6">
                        <h4>{{this.product.title}}</h4>
                        <span>Brand: {{this.product.brand}}</span>
                        <p class="d-flex" style="font-size: 13px;">Category: <span class="text-muted ms-1" > {{this.product.category.title}}</span></p>
                        <p>
                            {{#if (lt this.finalPrice this.originalPrice)}}
                            <span class="fw-bold">₹{{this.finalPrice}}</span> <span class="text-muted "><s>₹{{this.originalPrice}}</s></span>
                            
                            {{else}}
                            <span class="fw-bold">₹{{this.originalPrice}}</span> <span class="text-muted">No offer</span> <span class="badge bg-danger"></span>
                            {{/if}}
                        </p>
                        <p>Quantity: {{this.count}}</p>
                    </div>
                </div>
                {{/each}}
                <hr>
                <div class="row">
                    <div class="col-md-6">
                        <h5>Billing Address</h5>
                        <p>{{order.orderby.name}}</p>
                        <p>{{order.orderby.defaultAddress.addressLine1}}</p>
                        <p>{{order.orderby.defaultAddress.addressLine2}}</p>
                        <p>{{order.orderby.defaultAddress.city}}, {{order.orderby.defaultAddress.state}} {{order.orderby.defaultAddress.pinCode}}</p>
                    </div>
                    <div class="col-md-6">
                        <h5>Payment Method</h5>
                        <p>{{order.paymentIntent}}</p>

                        <h5>Total Price</h5>
                        <p>₹{{order.totalPrice}}</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-6">
                        <h5>Current Order Status</h5>
                        <span class="badge {{statusClass order.orderStatus}}">{{order.orderStatus}}</span>
                    
                    </div>
                    <div class=" col-md-6 feedback-section">
                        {{#if (eq order.orderStatus 'Returned')}}
                            <h5>Feedback</h5>
                            <div class="feedback-message">
                                <p>{{order.feedback}}</p>
                            </div>
                        {{/if}}
                    </div>
                    {{#if (and (ne order.orderStatus 'Cancelled')(ne order.orderStatus 'Returned'))}}
                    <div class="col-md-6">
                        <h5>Change Order Status</h5>
                        <form id="orderStatusForm">
                            <div class="input-group mt-4">
                                <select class="form-select" name="status" id="status">
                                    <option value="Processing" {{#if (eq order.orderStatus 'Order Placed')}}selected{{/if}}>Order Placed</option>
                                    <option value="Processing" {{#if (eq order.orderStatus 'Processing')}}selected{{/if}}>Processing</option>
                                    <option value="Dispatched" {{#if (eq order.orderStatus 'Dispatched')}}selected{{/if}}>Dispatched</option>
                                    <option value="Delivered" {{#if (eq order.orderStatus 'Delivered')}}selected{{/if}}>Delivered</option>
                                </select>
                                <button class="btn btn-outline-warning ms-1" type="submit">Update</button>
                                <a class="btn btn-outline-primary ms-1" href="/order/all-orders">Cancel</a>
                            </div>
                        </form>
                    </div>
                    {{/if}}
                </div>
            </div>

            <!-- Download Invoice Button -->
            {{#if (and (ne order.orderStatus 'Cancelled')(ne order.orderStatus 'Returned'))}}
            <div class="card-footer">
                <a href="/order/download-invoice/{{order._id}}" class="btn btn-outline-dark download-invoice-btn">Invoice <i class="fas fa-download"></i></a>
            </div>
            {{/if}}
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const form = document.getElementById('orderStatusForm');

        form.addEventListener('submit', function (event) {
            event.preventDefault(); // Prevent default form submission

            const status = form.elements.status.value; // Retrieve status value

            fetch(`/order/update-order/{{order._id}}`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ status }) // Send as JSON payload
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                // Assuming data.success is returned from server upon successful update
                if (data.success) {
                    // Show success message using SweetAlert2
                    Swal.fire({
                        icon: 'success',
                        title: 'Success!',
                        text: 'Order status updated successfully.',
                        timer: 2000, // Auto close after 2 seconds
                        showConfirmButton: false
                    }).then(() => {
                        // Reload or redirect as needed
                        window.location.reload(); // Example: reload the page
                    });
                } else {
                    // Show error message using SweetAlert2
                    Swal.fire({
                        icon: 'error',
                        title: 'Error!',
                        text: 'Failed to update order status. Please try again.',
                        showConfirmButton: true
                    });
                }
            })
            .catch(error => {
                console.error('Error updating order status:', error);
                // Show error message using SweetAlert2
                Swal.fire({
                    icon: 'error',
                    title: 'Error!',
                    text: 'Failed to update order status. Please try again.',
                    showConfirmButton: true
                });
            });
        });
    });
</script>
