{{> admin-header}}
<div class="content">
    <div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-12">
      <h2>Orders <span class="text-muted">{{orders.length}} ITEMS</span></h2>
      <div class="d-flex justify-content-between align-items-center mb-3">
        <h4 class="card-title">Order History</h4>
        <div>
          <button class="btn btn-outline-secondary">Select Date</button>
          <button class="btn btn-outline-secondary">Filters</button>
        </div>
      </div>
      <div class="table-responsive-sm">
        <table class="table table-hover table-sm text-center">
          <thead class="table-active">
            <tr>
              <th>Sl no</th>
              <th>Order ID</th>
              {{!-- <th>Product</th> --}}
              <th>Order Date</th>
              <th>Customer</th>
              <th>Payment</th>
              <th>Status</th>
              <th>Total</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {{#each orders}}
            <tr>
              <td class="fw-bold">{{incrementIndex @index}}</td>
              <td>#{{this.orderId}}</td>
              {{!-- <td>
                {{#each this.products}}
                  <div class="d-flex align-items-center">
                    <img class="img-thumbnail" src="{{this.product.images.[0]}}" alt="" style="width: 50px;">
                    <div class="ms-1">{{this.count}} x </div>
                    <div class="ms-2">{{this.product.title}}</div>
                  </div>
                {{/each}}
              </td> --}}
              <td>{{formatDate this.createdAt}}</td>
              <td>{{this.orderby.name}}</td>
              <td class="text-info">{{this.paymentIntent}}</td>
              <td id="order-status-{{this._id}}">
                <span class="badge {{statusClass this.orderStatus}}">{{this.orderStatus}}</span>
              </td>
              <td class="text-primary">Rs.{{this.totalPrice}}</td>
              <td><a href="/order/update-order/{{this._id}}" class="btn"><i class="fas fa-edit"></i></a></td>
              
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
      <nav aria-label="Page navigation">
        <ul class="pagination">
          {{#each pagination}}
          <li class="page-item {{#if this.active}}active{{/if}}">
            <a class="page-link" href="?page={{this.page}}">{{this.page}}</a>
          </li>
          {{/each}}
        </ul>
      </nav>
    </div>
  </div>
</div>


<script>
    
    async function cancelOrder(orderId) {
    try {
        const response = await fetch(`/order/cancel-order/${orderId}`, {
        method: 'PUT',
        headers: {
            'Content-Type': 'application/json'
        }
        });

        const data = await response.json();

        if (data.success) {
        alert('Order cancelled successfully');
        // Optionally, update the UI to reflect the order status change
        document.getElementById(`order-status-${orderId}`).innerText = 'Cancelled';
        location.reload()
        } else {
        alert('Failed to cancel the order: ' + data.message);
        }
    } catch (error) {
        console.error('Error cancelling order:', error);
        alert('An error occurred while cancelling the order');
    }
}
</script>
</div>    

