<style>
    .cart-count{
        position: absolute;
        top: -10px;
        right: -10px;
        background-color: red;
        color: white;
        border-radius: 50%;
        padding: 4px 8px;
        font-size: 0.5rem;
    }

    @media (max-width: 991.98px) {
        .full-width-dropdown {
            max-width: 400px;
            top: 100%;
            z-index: 1000; 
        }
        .dropdown-toggle::after {
            display: none;
        }

        .navbar .dropdown .dropdown-toggle {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
        }

        .dropdown-menu a {
            width: 100%;
            display: block;
        }
    }
</style>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container d-flex justify-content-between align-items-center mt-2">
        <div class="logoDiv">
            <a {{#if user}}href="/home"{{else}}href="/"{{/if}} class="logo d-flex align-items-center" style="text-decoration: none;">
                <i class='bx bx-code-alt'></i>
                <div class="logo-name"><span>Tech</span>Trove</div>
            </a>
        </div>

        <div class="d-flex align-items-center">
            {{#if user}}
                <a class="text-dark me-3 d-lg-block" href="/product/wishlist"><i class="fas fa-heart"></i></a>
                <a href="/user/cart" class="text-dark me-3 d-lg-block position-relative">
                    <i class="fas fa-shopping-cart"></i>
                    {{#if cart.products.length}}
                        <span class="cart-count">{{cart.products.length}}</span>
                    {{/if}}
                </a>
            {{/if}}
            <div class="dropdown">
                <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user d-none d-lg-inline"></i>
                    <i class="fas fa-bars d-lg-none"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right full-width-dropdown" aria-labelledby="dropdownUser1">
                    {{#if user}}
                        <span class="dropdown-item-text">{{user.name}}</span>
                        <span class="dropdown-item-text text-muted small">{{user.email}}</span>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item w-100" href="/user/profile"><i class="fas fa-user"></i> Profile</a>
                        <a class="dropdown-item w-100" href="/user/get-orders"><i class="fas fa-box"></i> Orders</a>
                        <a class="dropdown-item w-100" href="/user/cart"><i class="fas fa-shopping-cart"></i> Cart</a>
                        <a class="dropdown-item w-100" href="/user/coupons"><i class="fa fa-bookmark"></i> Coupons</a>
                        <a class="dropdown-item w-100" href="/user/transactions"><i class="fas fa-wallet"></i> Wallet</a>
                        <a class="dropdown-item w-100" href="/product/wishlist"><i class="fas fa-heart"></i> Wishlist</a>
                        <a class="dropdown-item w-100" href="/user/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
                    {{else}}
                        <a class="dropdown-item w-100" href="/login"><i class="fas fa-sign-in-alt"></i> Login</a>
                        <a class="dropdown-item w-100" href="/register"><i class="fas fa-user-plus"></i> Signup</a>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</nav>
