{{> user-header}}

<div class="container cart-container mb-5">
  {{#if cart.products.length}}
  <h1 class="my-4">Cart</h1>
  <div class="row">
    <div class="col-md-8">
      {{#each cart.products}}
      <div class="card cart-item" data-product-id="{{this.product._id}}">
        <div class="card-body d-flex align-items-center justify-content-between">
          <img src="{{this.product.images.[0]}}" class="img-fluid" style="max-width: 70px; height:70px" alt="Product Image">
          <div class="ml-3">
            <div>
              <h5 class="card-title">{{this.product.title}}</h5>
              <span class="card-text">{{this.product.brand}}</span>
              {{#ifCond this.product.stock_count '===' 0}}
                  <p class="text-danger">Out of Stock</p>
              {{else ifCond this.product.stock_count '<' 10}}
                  <p class="low-stock badge badge-danger">Only {{this.product.stock_count}} left</p>
              {{else}}
                  <p class="text-success">In Stock</p>
              {{/ifCond}}
              <span class="stock-count" style="display: none;">{{this.product.stock_count}}</span>
            </div>
            <div class="d-flex align-items-center">
              <button class="btn btn-outline-secondary btn-sm" onclick="decreaseQuantity('{{this.product._id}}')">-</button>
              <input type="number" class="form-control count-input mx-2" style="width: 50px; text-align:center" value="{{this.count}}" min="1" max="10" data-product-id="{{this.product._id}}" readonly>
              <button class="btn btn-outline-secondary btn-sm" onclick="increaseQuantity('{{this.product._id}}')">+</button>
              <button class="btn btn-outline-danger btn-sm ms-3" onclick="removeCartItem('{{this.product._id}}')"><i class="fas fa-trash"></i></button>
            </div>
          </div>
          <div class="ml-auto">
            <p class="text-right">
              <strong>{{this.count}}</strong> x  
              {{#if this.product.discountPercentage}}
              <span> ₹{{this.product.effectivePrice}}</span>
              <small class="text-muted text-decoration-line-through"> ₹{{this.product.originalPrice}}</small>
              <span class="badge badge-success btn-sm">{{this.product.discountPercentage}}% OFF</span>
              <span class="offerSavings mt-1">Savings: ₹{{this.product.offerSavings}}</span>
              {{else}}
                <span class="fw-bold ms-1"> ₹{{this.product.originalPrice}}</span>
                <span class="text-muted">No offer</span>
              {{/if}}
            </p>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
    <div class="col-md-4">

      <div class="coupon-section form-group">
        <form id="couponForm">
          {{#if appliedCoupon}} <small>Applied Coupon</small> {{/if}}
          <input type="text" id="couponCode" {{#if appliedCoupon.code}} value="{{appliedCoupon.code}}"{{/if}} class="form-control" placeholder="Enter coupon code" />
          <button type="button" class="btn btn-warning btn-block mt-2" onclick="openCouponModal()">View Available Coupons</button>
          <button id="applyCouponBtn" type="submit" class="btn btn-outline-success btn-block mt-2" {{#if appliedCoupon}}style="display: none;"{{else}}style="display: block;"{{/if}}>Apply Coupon</button>
        </form>
        <button id="removeCouponBtn" class="btn btn-outline-danger btn-block mt-2" {{#if appliedCoupon}}style="display: block;"{{else}}style="display: none;"{{/if}}>Remove Coupon</button>
      </div>
      <div class="order-summary"> 
        <h5>Order Summary</h5>
        <p id="firstPrice">Price: Rs.{{cart.cartTotal}}</p>
       
        {{#if appliedCoupon}}
          <p id="couponDiscount">Coupon Discount: Rs.{{appliedCoupon.discount}}</p>
        {{/if}}
        <p>Shipping: Free</p>
        <hr>
        <h5>Total: Rs.{{cart.totalAfterDiscount}}</h5>
        <p>Estimated Delivery by <strong>30 July, 2024</strong></p>
        <hr>
        <a href="/user/checkout" class="btn btn-primary btn-block mt-3">Proceed to Checkout</a>
        <a href="/user/dashboard" class="btn btn-outline-secondary btn-block mt-1">Add More Items</a>
      </div>
    </div>
  </div>
</div>

{{!-- Modal for displaying available coupons --}}
<div class="modal fade" id="couponModal" tabindex="-1" aria-labelledby="couponModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="couponModalLabel">Available Coupons</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <ul class="list-group">
          {{#each coupons}}
          <li class="list-group-item d-flex justify-content-between align-items-center">
            {{this.code}} - Rs.{{this.discount}}
            <span> Minimum Purchase Rs.{{this.minBill}}</span>
              <button class="btn btn-warning btn-sm ms-2" onclick="applyCoupon('{{this.code}}')">Apply</button>
          </li>
          {{/each}}
        </ul>
        <div class="mb-2">
            <span class="error" style="color: red;"></span>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{{> footer}}
{{else}}
<div class="container">
  <div class="d-flex justify-content-center align-items-center" style="height:80vh;">
    <div class="card col-md d-flex justify-content-center align-items-center" style="height: 200px;">
      <h4>Hey, it feels so light!</h4>
      <p>There's nothing in your cart, Let's add something</p>
      <a href="/product/wishlist" class="btn btn-outline-danger btn-lg">ADD ITEMS FROM WISHLIST</a>
    </div>
  </div>
</div>
{{/if}}

<script>
  function openCouponModal() {
    // Show the modal
    $('#couponModal').modal('show');
  }

  function applyCoupon(code) {
    // Set the coupon code in the input field
    document.getElementById('couponCode').value = code;
    
    // Submit the form to apply the coupon
    document.getElementById('couponForm').submit();
  }

  document.addEventListener('DOMContentLoaded', function() {
    // Add event listener to all apply coupon buttons in the modal
    document.querySelectorAll('.apply-coupon-btn').forEach(function(button) {
      button.addEventListener('click', function() {
        applyCoupon(button.dataset.code);
      });
    });
  });
</script>

<script src="/js/cart.js"></script>
