{{> user-header}}

<div class="container cart-container">
  <h1 class="my-4">Checkout</h1>
  <div class="row">
    <div class="col-md-8">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <h4 class="card-title">Saved Address</h4>
        <button class="btn btn-outline-dark" id="addAddressBtn">Add Address</button>
      </div>
      <div id="addressList">
        {{#each address}}
          {{#if this.default}}
            <span class="badge text-danger">Default</span>
          {{/if}}
          <div class="card mb-3">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  <input type="radio" name="defaultAddress" id="{{this._id}}" {{#if this.default}}checked{{/if}}>
                  <label for="{{this._id}}">
                    <strong>{{name}}, {{phone}}</strong><br>
                    {{addressLine1}}, <br>{{addressLine2}}, <br>{{city}}, {{state}} - {{pinCode}}<br>
                  </label>
                </div>
                <div>
                  <button class="btn btn-outline-secondary btn-sm" onclick="editAddress('{{this._id}}')"><i class="fas fa-edit"></i></button>
                  <button class="btn btn-outline-danger btn-sm" onclick="deleteAddress('{{this._id}}')"><i class="fas fa-trash"></i></button>
                </div>
              </div>
            </div>
          </div>
        {{/each}}
      </div>
      <div class="container mt-5">
        <h4>Payment Option</h4>
        <div class="payment-option p-5">
          <div>
            <i class="fas fa-money-bill-wave"></i>
            <p>Cash on Delivery</p>
            <input type="radio" name="paymentMethod" value="COD" checked>
          </div>
          <div>
            <i class="fas fa-credit-card"></i>
            <p>Razorpay</p>
            <input type="radio" name="paymentMethod" value="Razorpay">
          </div>
          <div class="">
            
            <i class="fas fa-wallet"></i>
            <p>My Wallet</p>
            <input type="radio" name="paymentMethod" value="Wallet">
            <div>
              <small class="{{#if user.walletBalance}}text-success mt-2{{else}}text-danger mt-2{{/if}}">{{#if user.walletBalance}}₹ {{user.walletBalance}} Available{{else}}Insufficient Balance{{/if}}</small>
            </div>
          </div>
          
        </div>
      </div>
    </div>
    <div class="col-md-4 card">
      <div class="order-summary">
        {{#each cart.products}}
          <div class="cart-item" data-product-id="{{this.product._id}}">
            <div class="card-body d-flex align-items-center ">
              <img src="{{this.product.images.[0]}}" class="img-fluid" style="max-width: 50px; height:50px" alt="Product Image">
              <div class="ms-3">
                <p class="card-text fw-bold">{{this.product.title}}</p>
                <p class="text-left">{{this.count}} x Rs.{{this.finalPrice}}</p>
              </div>
            </div>
          </div>
        {{/each}}
        <h5>Order Summary</h5>
        <p>Price: Rs.{{cart.cartTotal}}</p>
        <p>Shipping: Free</p>
        <p>{{#if coupon}}Coupon Discount: Rs.{{coupon.discount}}{{/if}}</p>
        <hr>
        <h5>Total: Rs.{{cart.totalAfterDiscount}}</h5>
        <p>Estimated Delivery by <strong>30 Jul, 2024</strong></p>
        <button class="btn btn-outline-primary btn-block mt-3 mb-1" onclick="proceedToCheckout()">Place Order</button>
        <a href="/user/cart" class="btn btn-outline-secondary btn-block">Go back</a>
      </div>
    </div>
  </div>
</div>

{{> footer}}

//razorpay intergration
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script>
  document.getElementById('addAddressBtn').addEventListener('click', function() {
    window.location.href = '/address/add?originPage=checkout';
  });

  document.querySelectorAll('input[name="defaultAddress"]').forEach(function (radio) {
    radio.addEventListener('change', function () {
      const addressId = this.id;
      updateDefaultAddress(addressId);
    });
  });

  function updateDefaultAddress(addressId) {
    fetch(`/address/default/${addressId}`, {
      method: 'PUT',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({ userId: '{{user._id}}' })
    })
    .then(response => response.json())
    .then(data => {
      if (data.success) {
        location.reload(); // Reload the page to reflect changes
      } else {
        alert('Failed to update default address');
      }
    })
    .catch(error => console.error('Error:', error));
  }

  function deleteAddress(addressId) {
    fetch(`/address/delete/${addressId}`, {
      method: 'DELETE',
      headers: {
        'Content-Type': 'application/json'
      }
    })
    .then(response => response.json())
    .then(data => {
      if (data.success) {
        location.href = '/user/checkout'; // Reload the page to reflect changeswindow.
      } else {
        alert('Failed to delete address');
      }
    })
    .catch(error => console.error('Error:', error));
  }

  function editAddress(addressId) {
    window.location.href = `/address/edit/${addressId}?originPage=checkout`;
  }

  //checkout 
 function proceedToCheckout() {
    const paymentMethod = document.querySelector('input[name="paymentMethod"]:checked').value;
    const defaultAddressId = document.querySelector('input[name="defaultAddress"]:checked').id;
    

    if (!defaultAddressId) {
        Swal.fire({
            title: 'No Address Selected',
            text: 'Please select a default address',
            icon: 'warning',
            confirmButtonText: 'Okay'
        });
        return;
    }

    const totalPrice = {{cart.totalAfterDiscount}}
    if(paymentMethod === 'COD' && totalPrice >30000){
      Swal.fire({
            title: 'Order Amount Exceeded',
            text: 'Cash on Delivery is not available for orders above Rs 30000',
            icon: 'warning',
            confirmButtonText: 'Okay'
        });
        return;
    }

    const walletBalance = {{user.walletBalance}}
    if(paymentMethod === 'Wallet'){
      if(!walletBalance || totalPrice >walletBalance){
        Swal.fire({
              title: 'Insufficient Balance',
              text: 'Choose another method',
              icon: 'warning',
              confirmButtonText: 'Okay'
          });
          return;
      }

    }


    const orderData = { paymentIntent: paymentMethod };

    fetch('/user/checkout', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(orderData)
    })
    .then(response => response.json())
    .then(data => {
        if (data.success) {
            if (paymentMethod === 'Razorpay') {
                const options = {
                    key: 'rzp_test_4O98bI5B7yGQkw', // Enter the Key ID generated from the Dashboard
                    amount: data.razorpayOrder.amount, // Amount is in currency subunits. Default currency is INR. Hence, 1000 means 1000 paise = INR 10.
                    currency: data.razorpayOrder.currency,
                    name: 'TechTrove',
                    description: 'Test Transaction',
                    image: 'https://example.com/your_logo',
                    order_id: data.razorpayOrder.id, // This is the order_id created in your backend.
                    handler: function (response) {
                        fetch('/user/verify-payment', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({
                                razorpayPaymentId: response.razorpay_payment_id,
                                razorpayOrderId: response.razorpay_order_id,
                                razorpaySignature: response.razorpay_signature,
                                orderData: {
                                    products: data.products,
                                    totalPrice: data.totalPrice,
                                    paymentIntent: paymentMethod,
                                    orderby: '{{user._id}}',
                                    razorpayOrderId: data.razorpayOrder.id
                                }
                            })
                        })
                        .then(response => response.json())
                        .then(data => {
                            if (data.success) {
                                Swal.fire({
                                    title: 'Order Placed!',
                                    text: 'Your order is on its way!',
                                    icon: 'success',
                                    confirmButtonText: 'Okay'
                                }).then(() => {
                                    window.location.href = '/user/get-orders'; // Redirect to order summary page
                                });
                            } else {
                                Swal.fire({
                                    title: 'Failed to Place Order',
                                    text: 'Please try again later.',
                                    icon: 'error',
                                    confirmButtonText: 'Okay'
                                });
                            }
                        })
                        .catch(error => {
                            console.error('Error:', error);
                            Swal.fire({
                                title: 'Error',
                                text: 'An unexpected error occurred. Please try again.',
                                icon: 'error',
                                confirmButtonText: 'Okay'
                            });
                        });
                    },
                    prefill: {
                        name: '{{user.name}}',
                        email: '{{user.email}}',
                        contact: '{{user.phone}}'
                    },
                    notes: {
                        address: 'Your Company Address'
                    },
                    theme: {
                        color: '#1976D2'
                    }
                };
                const rzp1 = new Razorpay(options);
                rzp1.on('payment.failed', function (response) {
                    Swal.fire({
                        title: 'Payment Failed',
                        text: 'Please try again later.',
                        icon: 'error',
                        confirmButtonText: 'Okay'
                    });
                });
                rzp1.open();
            } else {
                // Handle other payment methods
                Swal.fire({
                    title: 'Order Placed!',
                    text: 'Your order is on its way!',
                    icon: 'success',
                    confirmButtonText: 'Okay'
                }).then(() => {
                    window.location.href = '/user/get-orders'; // Redirect to order summary page
                });
            }
        } else {
            Swal.fire({
                title: 'Failed to Place Order',
                text: 'Please try again later.',
                icon: 'error',
                confirmButtonText: 'Okay'
            });
        }
    })
    .catch(error => {
        console.error('Error:', error);
        Swal.fire({
            title: 'Error',
            text: 'An unexpected error occurred. Please try again.',
            icon: 'error',
            confirmButtonText: 'Okay'
        });
    });
}


 

</script>
<style>
  .payment-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
  }
  .payment-option div {
    text-align: center;
    flex: 1;
  }
  .payment-option input {
    margin-top: 10px;
  }
  .payment-option .fa {
    font-size: 24px;
    margin-bottom: 10px;
  }
</style>
