{{> user-header}}

<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-12">
            <h2>Orders <span class="text-muted">{{orders.length}} ITEMS</span></h2>
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h4 class="card-title">Order History</h4>
                <div>
                    <button class="btn btn-outline-secondary">Select Date</button>
                    <button class="btn btn-outline-secondary">Filters</button>
                </div>
            </div>
            {{#if orders.length}}
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Order ID</th>
                            <th>Products</th>
                            <th>Total</th>
                            <th>Status</th>
                            <th>Date</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each orders}}
                        <tr>
                            <td>#{{this.orderId}}</td>
                            <td>
                                {{#each this.products}}
                                <div class="d-flex align-items-center">
                                    <img class="img-thumbnail" src="{{this.product.images.[0]}}" alt="" style="width: 50px;">
                                    <div class="ms-1">{{this.count}} x </div>
                                    <div class="ms-2">{{this.product.title}}</div>
                                </div>
                                {{/each}}
                            </td>
                            <td>{{this.totalPrice}}/-</td>
                            <td id="order-status-{{this._id}}">
                                <span class="badge {{statusClass this.orderStatus}}">{{this.orderStatus}}</span>
                            </td>
                            <td>{{formatDate this.createdAt}}</td>
                            <td>
                                <button class="btn btn-outline-secondary btn-sm" onclick="viewOrder('{{this._id}}')">View</button>
                                {{#if (and  (ne this.orderStatus 'Delivered') (ne this.orderStatus 'Cancelled'))}}
                                <button class="btn btn-outline-warning btn-sm" onclick="cancelOrder('{{this._id}}')">Cancel</button>
                                {{else if (ne this.orderStatus 'Cancelled')}}
                                <button class="btn btn-outline-warning btn-sm" onclick="returnOrder('{{this._id}}')">Return</button>
                                {{/if}}
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>

            <!-- Pagination -->
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    {{#if pagination.hasPrevPage}}
                    <li class="page-item">
                        <a class="page-link" href="?page={{subtract pagination.page 1}}">&lt;</a>
                    </li>
                    {{/if}}

                    {{#each pagination.pages}}
                    <li class="page-item {{#if this.active}}active{{/if}}">
                        <a class="page-link" href="?page={{this.page}}">{{this.page}}</a>
                    </li>
                    {{/each}}

                    {{#if pagination.hasNextPage}}
                    <li class="page-item">
                        <a class="page-link" href="?page={{add pagination.page 1}}">&gt;</a>
                    </li>
                    {{/if}}
                </ul>
            </nav>
            {{else}}
            <div class="container">
                <div class="card col-md-8 d-flex justify-content-center align-items-center m-auto" style="height: 200px;">
                    <p>There's no order history</p>
                    <a href="/user/dashboard" class="btn btn-warning">Buy Items</a>
                </div>
            </div>
            {{/if}}
        </div>
    </div>
</div>


{{> footer}}

<script>
    
  async function cancelOrder(orderId) {
    // Show confirmation dialog
    const result = await Swal.fire({
        title: 'Are you sure?',
        text: "Do you really want to cancel this order?",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#d33',
        cancelButtonColor: '#3085d6',
        confirmButtonText: 'Yes, cancel it!'
    });

    if (result.isConfirmed) {
        try {
            const response = await fetch(`/order/cancel-order/${orderId}`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                }
            });

            const data = await response.json();

            if (data.success) {
                Swal.fire({
                    title: 'Order Cancelled!',
                    text: 'Your Order has been Cancelled Successfully.',
                    icon: 'success',
                    confirmButtonText: 'Okay'
                }).then(() => {
                    // Optionally, update the UI to reflect the order status change
                    document.getElementById(`order-status-${orderId}`).innerText = 'Cancelled';
                    location.reload();
                });
            } else {
                Swal.fire({
                    title: 'Failed!',
                    text: 'Failed to cancel the order: ' + data.message,
                    icon: 'error',
                    confirmButtonText: 'Okay'
                });
            }
        } catch (error) {
            console.error('Error cancelling order:', error);
            Swal.fire({
                title: 'Error!',
                text: 'An error occurred while cancelling the order',
                icon: 'error',
                confirmButtonText: 'Okay'
            });
        }
    }
}

</script>