{{> user-header}}
<style>
  .link {
    color: black;
  }

  @media (max-width: 990px) {
    .wishlist-item img {
      width: 60px;
    }

    .wishlist-item .align-middle {
      font-size: 13px;
    }

    .wishlist-item .btn {
      font-size: 10px;
      padding: 4px 6px;
    }
  }

  @media (max-width: 520px){
    .wishlist-item .align-middle {
      font-size: 9px;
    }
  }

  @media (max-width: 470px){
    
    .wishlist-item .align-middle .price, .stock, .offer{
      font-size: 7px;
    },

    .wishlist-item .align-middle .title{
        font-size: 8px;
    }
    .empty a{
        font-size: 13px;
      }

      .empty p{
        font-size: 11px;
      }

  }
</style>
<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-md-3">
      {{> profile-nav}}
    </div>
    <div class="col-md-9">
      {{#if wishlist.length}}
      <h3>My Wishlist ({{count}})</h3>
      <div class="table-responsive">
        <table class="table table-hover">
          <tbody>
            {{#each wishlist}}
            <tr class="wishlist-item">
              <td>
                <img src="{{this.images.[0]}}" alt="{{this.title}}" class="img-thumbnail" width="100">
              </td>
              <td class="align-middle">
                <a class="link" href="/product/{{this._id}}">
                  <span class="title">{{this.title}}</span>
                </a>
              </td>
              <td class="align-middle">
                {{#if this.discountPercentage}}
                <span class="fw-bold price">₹ {{this.effectivePrice}}</span>
                <span class="text-muted price"><s>₹ {{this.originalPrice}}</s></span>
                <p class="badge bg-danger btn-sm offer">{{this.discountPercentage}}% OFF</p>
                {{else}}
                <span class="text-dark fw-bold price">₹{{this.originalPrice}}</span>
                <span class="text-muted price">No offer</span>
                {{/if}}
              </td>
              <td class="align-middle">
                {{#if this.stock_count}}
                <span class="text-success stock">In Stock</span>
                {{else}}
                <span class="text-danger stock">Out Of Stock</span>
                {{/if}}
              </td>
              <td class="align-middle">
                {{#if this.stock_count}}
                <button class="btn btn-warning add-to-cart" title="Add to Cart" data-id="{{this._id}}" data-price="{{this.price}}">
                  <i class="fas fa-shopping-cart"></i>
                </button>
                {{else}}
                <button class="btn btn-warning add-to-cart" title="Add to Cart" data-id="{{this._id}}" data-price="{{this.price}}" disabled>
                  <i class="fas fa-shopping-cart"></i>
                </button>
                {{/if}}
                <button class="btn toggle-wishlist-item" data-id="{{this._id}}">
                  <i class="fas fa-trash-alt"></i>
                </button>
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
      <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
          {{#if pagination.hasPrevPage}}
          <li class="page-item">
            <a class="page-link" href="?page={{subtract pagination.page 1}}">&lt;</a>
          </li>
          {{/if}}

          {{#each pagination.pages}}
          <li class="page-item {{#if this.active}}active{{/if}}">
            <a class="page-link" href="?page={{this.page}}">{{this.page}}</a>
          </li>
          {{/each}}

          {{#if pagination.hasNextPage}}
          <li class="page-item">
            <a class="page-link" href="?page={{add pagination.page 1}}">&gt;</a>
          </li>
          {{/if}}
        </ul>
      </nav>
      {{else}}
      <div class="text-center empty">
        <h5 class="mb-4">YOUR WISHLIST IS EMPTY</h5>
        <p class="text-muted">Add items that you like to your wishlist. Review<br> them anytime and easily move them to the bag.</p>
        <a href="/shop" class="btn btn-outline-primary btn-lg mt-2">Continue Shopping</a>
      </div>
      {{/if}}
    </div>
  </div>
</div>
{{> footer}}



<script>

        const wishlistItems = document.querySelectorAll('.wishlist-item');

        document.addEventListener('DOMContentLoaded', () => {
            document.querySelectorAll('.toggle-wishlist-item').forEach(button => {
                button.addEventListener('click', async function(event) {
                    event.preventDefault();
                    const prodId = this.getAttribute('data-id');

                    try {
                        const response = await fetch(`/product/wishlist`, {
                            method: 'PUT',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({ prodId })
                        });

                        if (response.ok) {
                            // Optionally remove the product row from the table
                            this.closest('tr').remove();
                            
                            Swal.fire({
                                title: 'Owchh',
                                text: `Product removed from wishlist`,
                                icon: 'error',
                                showConfirmButton: false,  
                                timer: 1000,
                                customClass: {
                                popup: 'animated fadeInDown'
                                }
                            }); 
                            setTimeout(() =>{
                                window.location.reload()
                            },1900)
                        } else {
                            console.error('Failed to update the wishlist');
                        }
                    } catch (error) {
                        console.error('Error:', error);
                    }
                });
            });
        });

        wishlistItems.forEach(item => {
            const addToCartBtn = item.querySelector('.add-to-cart');

            addToCartBtn.addEventListener('click', async () => {
                const productId = addToCartBtn.getAttribute('data-id');
                const price = addToCartBtn.getAttribute('data-price'); // Assuming you have price data attribute

                const cart = {
                    product: productId,
                    count: 1, // Always set count to 1 for wishlist items
                    price: parseFloat(price)
                };

                try {
                    const response = await fetch('/cart', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ cart: [cart] }) // Send as an array
                    });

                    if (response.ok) {
                        const removeWishlistResponse = await fetch('/product/wishlist', {
                            method: 'PUT',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({prodId: productId})
                        })

                        if(removeWishlistResponse.ok){
                            item.remove();
                            Swal.fire({
                            title: 'Success',
                            text: 'Product added to cart',
                            icon: 'success',
                            showConfirmButton: false,
                            timer: 1000,
                            customClass: {
                                popup: 'animated fadeInDown'
                            },
                            iconHtml: '<i class="fas fa-check-circle"></i>'
                        });
                        setTimeout(() => {
                            window.location.reload();
                        }, 1500);
                    } else {
                    console.error('Failed to remove product from wishlist');
                }
            } else {
                console.error('Failed to add product to cart');
            }
        } catch (error) {
            console.error('Error:', error);
        }
    });
});
</script>